* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: #83CDCE;
}

.header {
  height: 75px;
  background: white;
}

.main {
  padding: 20px;
}

.header h1 {
  font-family: 'Barrio', cursive;
  color: #83CDCE;
  margin: 0;
  text-align: center;
  padding-top: 20px;
}

#budgetCat {
  border: 1px solid white;
  padding: 15px;
  width: 300px;
  border-radius: 5px;
  display: block;
  margin: auto;
  margin-bottom: 15px;
  /*text-align: center;*/
}

.submission {
  width: 300px;
  margin: auto;
}

#budgetSelect, #budgetSubtract {
  border: 1px solid white;
  padding: 15px;
  width: 125px;
  border-radius: 5px;
  display: inline-block;
  margin: auto;
  margin-bottom: 15px;
}

#submit {
  border: none;
  padding: 15px;
  width: 42px;
  border-radius: 5px;
  display: inline-block;
  margin: auto;
  margin-bottom: 15px;
  text-align: center;
  padding-left: 3px;
  color: gray;
  vertical-align: top;
}

textarea {
  height: 43px;
}

.budgetVisual {
  display: block;
  margin: auto;
  width: 300px;
  height: 415px;
  border: 1px solid white;
  border-radius: 5px;
  background: white;
  padding: 10px;
  color: #6CA6A3;
}
